<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
  <ion-searchbar>
</ion-searchbar>
</form>
  <ion-title text-center>News Feed</ion-title>
<div *ngFor="let cardInfo of cardInfo">
  <page-picture-card *ngIf="cardInfo.isPicture"></page-picture-card>
  <page-story-card *ngIf="cardInfo.isStory"></page-story-card>
</div>
  
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
 
</ion-content>
